*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.unsplash.com/photo-1588581939864-064d42ace7cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}
.color-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
    position: absolute;
    }
.login{
    position: relative;
    background-color: rgba(0, 0, 0, 0.705);
    width: 250px;
    height:300px;
    margin: auto;
    top: 150px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}
.login h1{
    color: white;
}
.login form{
    padding: 10px;
}
.login form input{
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: white;
}
.login form input::placeholder{
    color: white;

}
.login a{
    padding: 5px 10px;
    margin: 10px;
    background-color: #C19D66;
    border: 0.1px solid rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a :hover{
    cursor: pointer;
    background-color: #705c3e;
}

nav{
    float: right;
    margin-top: 20px;
    background-color: black;
    height: 30px;
    width: 720px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    z-index: 4;
}
nav ul{
    display: flex;
    list-style: none;
    float: right;
    padding-right: 50px;
}
nav ul li{
    padding: 5px 10px;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
